<div id="sidebar">
  <h1><a href="/<%= params[:id] %>"><%= simple_format(@meta['h1']) %></a></h1>
  <h2><%= simple_format(@meta['h2']) %></h2>
  <div>
    <% @meta['impressum'].each do |i| %>
      <div style="padding-bottom: 24px">
        <%= image_tag i['image'], style: 'height: 150px' %>
        <p><%= link_to i['name'], i['link'], target: '_blank' %></p>
      </div>
    <% end %>
  </div>
  <div style="height: 50px"></div>
  <h2><p>Downloads</p></h2>
  <p>
    <a href="/data/<%= params[:id] %>/json">JSON-Daten</a>
  </p>
  <p>
    <a href="/data/<%= params[:id] %>/xlsx">Originaldaten (Excel)</a>
  </p>
</div>
